﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="bar-notification" class="bar-notification">
        <span class="close" title="Close"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    <div class="header-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 text-center">
                    <div class="navbar-header">
                        <a class="logo" href="#">
                            <img src="~/image/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="nav navbar-nav menu-item">
                        <li class="active">
                            <a href="#">
                                Television
                            </a>
                        </li>
                        <li>
                            <a href="#">Digital</a>
                        </li>
                        <li>
                            <a href="#">Radio</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">CONTACT US</a></li>
                        @*<li style="margin-top:5px;"><button class="btn" style="background:#fff;">LOGIN</button></li>*@
                        <li style="margin:0px;"><button type="button" class="btn" data-toggle="modal" data-target="#myModal1" style="background:#fff;">LOGIN</button></li>
                        @*<li style="margin-top:5px;"><a class="btn" style="background:#fff;" href="/Account/Registration">Sign Up</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="">
            @RenderBody()
            
            <footer class="footer-main">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="footer-text">
                            <h4>ABOUT COMPANY</h4>
                            <p class="">
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footer-text">
                            <h4>OUR COMPANY</h4>
                            <ul class="">
                                <li>
                                    <a href="">Home</a>
                                </li>
                                <li>
                                    <a href="">About us</a>
                                </li>
                                <li>
                                    <a href="">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <footer class="footer-copyright">
                <p style="color:#fff;margin-bottom:0px;">Copyright © @DateTime.Now.Year <span style="color:#fff">www.tv.com.</span>All rights reserved.</p>
            </footer>
        </div>
      

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-Unobtrusive")
        @RenderSection("scripts", required: false)
</body>
</html>
