﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="home-page">
        <div class="col-lg-7">
            <div class="home-banner">
                <img src="~/image/banner.png">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="banner-heading-text">
                <h2 class="text-center">
                    India's largest online media
                    planning and buying platform for
                    Television Advertising
                </h2>
                <p>
                    This is Photoshop's version of Lorem
                    Ipsum. Proin gravi da nibh vel velit auc
                    nisi elit consequat ipsum,
                </p>
                <div class="text-center">
                    <button class="btn btn-yellow">
                        GET STARTED
                    </button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="advertise-steps">
            <h2>
                Advertise on TV in <span style="color:#00c1d9;">5</span> Easy Steps
            </h2>
            <ul class="text-center">
                <li>
                    <div class="steps-roud-border">
                        <div class="steps-round">
                            <img src="~/image/step-1.png">
                            <h6>Enter Your Campaign Details</h6>
                        </div>
                    </div>
                    <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
                </li>
                <li>
                    <div class="steps-roud-border">
                        <div class="steps-round">
                            <img src="~/image/step-2.png">
                            <h6>Provide Ad Information</h6>
                        </div>
                    </div>
                    <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
                </li>
                <li>
                    <div class="steps-roud-border">
                        <div class="steps-round">
                            <img src="~/image/step-3.png">
                            <h6>Confirm Media Plan</h6>
                        </div>
                    </div>
                    <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
                </li>
                <li>
                    <div class="steps-roud-border">
                        <div class="steps-round">
                            <img src="~/image/step-4.png">
                            <h6>Review Playout Schedule</h6>
                        </div>
                    </div>
                    <span class="steps-arrow"><img src="~/image/arrow-right.png"></span>
                </li>
                <li>
                    <div class="steps-roud-border">
                        <div class="steps-round">
                            <img src="~/image/step-5.png">
                            <h6>Easy Pay</h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    <div class="login-modal">
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email" id="txtLoginEmail">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" class="form-control" placeholder="Password" id="txtLoginPassword">
                        </div>
                        <div class="signin-link">
                            <span>Do not have an account ? 
                                <a href="/SignUp/SignUp">Sign in</a>
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="padding:9px 12px;background-color: #d0d0d0;border:none;">Cancel</button>
                        <button type="button" class="btn btn-yellow" onclick="btnLoginClick()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Common.js"></script>
<script type="text/javascript">
    function btnLoginClick()
    {   
        $.ajax({
            type: 'POST',
            url: '/Home/Login',
            data: { emailId: $("#txtLoginEmail").val(), password: $("#txtLoginPassword").val() },
            success: function (result) {
                if (result == "Success")
                { displayBarNotification("Login success", "success", 3000); }
                else
                    displayBarNotification("Login failure", "error", 3000)
            }
        });
    }
</script>
