/* Home page start */
h2,ul,li {
    margin:0;
    padding:0;
    list-style:none;
}
label {
    color: #292929;
    font-weight: normal;
    font-size: 13px;
}
.form-control {
    border-radius: 0;
}
.home-page {
  background-image: url("../images/home-bg.png");
  background-color: #00acc1;
  display: table;
}
.navbar-nav li {
  float:left;
}
.header-main {
  background:#1ab4c7;
  padding: 0px 20px;
  height: 60px;
  line-height: 50px;
}
.header-main .btn {
    color:#292929 !important;
    padding:6px 12px !important;
    display:inline-block !important;
    margin-top:5px !important;
}
.header-main .nav>li>a:focus, .header-main .nav>li>a:hover {
  background:#5fcbd8;
  color:#1c1e33;
}
.header-main .navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav>li>a {
  color:#fff;
}
.banner-heading-text {
  margin-top: 50px;
}
.banner-heading-text h2 {
  color:#fff;
  margin-bottom:30px;
}
.banner-heading-text p {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 14pt;
}
.btn-yellow {
  background: rgb(253, 216, 53);
  padding: 15px 30px;
  font-weight: 600;
}
.advertise-steps {
    background-color:#1c1e33;
    padding-bottom:90px;
}
.advertise-steps h2 {
    text-align:center;
    font-size:30px;
    padding: 50px;
    color:#fff;
    text-transform:uppercase;
}
.advertise-steps ul {
    margin-top:30px;
}
.advertise-steps ul li {
    display:inline-block;
    width:18%;
    position:relative;
}
.steps-round h6 {
    font-size:13px;
    color:#fff;
    line-height: 18px;
}
.steps-round {
    background: rgb(0, 172, 193);
    border-radius: 100%;
    display: inline-block;
    padding: 22px 10px;
    vertical-align: middle;
    height: 130px;
    width: 130px;
}
.steps-roud-border {
    height: 150px;
    border: 2px dashed rgb(0, 172, 193);
    width: 150px;
    border-radius: 50%;
    padding: 8px;
}
.steps-arrow {
    position: absolute;
    top: 70px;
    right: 45px;
    color: rgb(255, 255, 255);
}
.footer-main {
    background:#263238;
    padding: 40px 100px;
}
.footer-text {
    color:#fff;
    padding: 0px 30px 0 0;
}
.footer-text h4 {
    color:#00acc1;
    margin-bottom:20px;  
}
.footer-text ul li a {
    color:#fff;
    margin-bottom: 6px;
    display: block;
    text-decoration:none;
}
.footer-copyright {
    background:#1d2b32;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 23px;
}
.login-modal .modal-header {
    text-align:center;
    border-bottom:none;
    background: #1ab4c7;
    color: #fff;
}
.login-modal .modal-footer {
    border:none;
    margin-top:0;
    padding:0px 20px 15px;
}
.login-modal .modal-header .close {
    color: #fff;
    opacity: 1;
}
.login-modal .btn-yellow {
    background: rgb(253, 216, 53);
    padding: 8px 20px;
}
.sign-up {
    width: 40%;
    margin: 20px auto;
    background: #ececec;
    padding: 30px;
}
/*#region Bar Notification */
.bar-notification{display:none;left:0;right:0;position:fixed;top:0;width:-moz-fit-content;width:fit-content;max-width:472px;z-index:100000;margin:auto;border-radius:0px 0px 4px 4px;font-size:13px;font-weight:bold;color:#fff;-webkit-animation-duration:0.5s;animation-duration:0.5s;-moz-animation-duration:0.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-moz-animation-fill-mode:both;-webkit-animation-name:barInDown;animation-name:barInDown;-moz-animation-name:barInDown}
@-webkit-keyframes barInDown {from { -webkit-transform: translate3d(0, -100%, 0);visibility: visible;}to {-webkit-transform: translate3d(0, 0, 0);}}
@keyframes barInDown {from { transform: translate3d(0, -100%, 0);visibility: visible;}to {transform: translate3d(0, 0, 0);}}
@-moz-keyframes barInDown {from { -moz-transform: translate3d(0, -100%, 0);visibility: visible;}to {-moz-transform: translate3d(0, 0, 0);}}
.bar-notification.bar-success{background:#06a534;}
.bar-notification.bar-error{background:#bd362f;}
.bar-notification.bar-warning{background:#e7a60a;}
.bar-notification.bar-warning:before{content:'';background:url(../Images/final-images/alerticon.png) no-repeat;position:absolute;left:10px;height:18px;width:21px;top:10px;}
.bar-notification.bar-success:before,.bar-notification.bar-error:before{content:'';background:url(../Images/final-images/alerticon1.png) no-repeat;position:absolute;left:10px;height:20px;width:21px;top:10px;}
.bar-notification.bar-error:before{content:'';background:url(../Images/final-images/alerticon2.png) no-repeat;position:absolute;left:10px;height:20px;width:21px;top:10px;}
.bar-notification.bar-info:before{content:'';background:url(../Images/final-images/alerticon3.png) no-repeat;position:absolute;left:10px;height:20px;width:21px;top:10px;}
.bar-notification.bar-info{background:#2f96b4;}
.bar-notification .close{cursor:pointer;float:right;margin:5px 6px 0 0;font-size:14px;opacity:0.35}
.bar-notification p.content{margin:10px 0;padding:0 40px;}
/*#region Bar Notification End */